<!doctype html>
<html>
  <head>
    <title>kitteh autoreloader</title>
    <script type="text/javascript">
      window.onload = setupRefresh;

      function setupRefresh() {
          setInterval("refreshFrame();", 1800000);
      }
      function refreshFrame() {
         parent.f.location.reload();
      }
    </script>
  </head>
  <frameset>
    <frame name="f" src="frame.html" />
  </frameset>
</html>
